/*
*
*
*  R U G B Y • S T Y L E S
*
*       1. Typography
*       2. Layout
*       3. I/O and control elements
*       4. Animations
*
*
*/

@import 'bourbon/bourbon';
@import 'neat/neat';

/* ============================================================================

    1. Typography

============================================================================ */

html {
    font-size: 16px;
}

body, input, textarea, button {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgb(80,80,80);
    -webkit-font-smoothing: antialiased;
}

.outputBlock {
    display: block;
    margin: 3rem auto;

    label {
        display: block;
    }

    textarea {
        border: none;
        background: rgb(244,244,244);
        width: 50%;
        height: 250px;
    }
}

label {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

section.theHeader {

    h1, h2 {
        font-size: 1rem;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 1px;
    }

    h1 { font-weight: 600; }
    h2 { font-weight: 300; }
}

$red: rgb(255,127,118);
$grn: rgb(48,220,181);
$blu: rgb(103,132,168);

$darkRed: darken($red, 20%);
$darkGrn: darken($grn, 20%);
$darkBlu: darken($blu, 20%);


/* ============================================================================

    2. Layout

============================================================================ */

body {
    margin: 4rem 1rem;
    text-align: center;
}

section {
    margin: 0 auto;
    max-width: 80%;
}

img.rugbyIcon {
    max-width: 156px;
    margin: 0 auto 2rem;
    height: auto;
    position: relative;
    top: 13px;
    @include animation(bounce 1.2s ease-in-out infinite alternate);
}

.inputBlock {
    margin: 2rem 0;
}

.hidden {
    display: none;
}


/* ============================================================================

    3. I/O and control elements

============================================================================ */

input[type='text'] {
    margin-right: 2rem;
    border: none;
    border-bottom: 1px solid #999;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;

    &:focus {
        outline: none;
    }
}

button[type=button] {
    -webkit-appearance: none !important;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    width: 200px;
    color: #fff;
    @include transition (all 0.2s ease-in);

    &:hover {
        i {
            @include transition (all 0.2s ease-in);
            color: white;
        }
    }
}

button.moar {
    background: $blu;
    i {
        color: $darkBlu;
    }
}
button.convert {
    background: $grn;
    i {
        color: $darkGrn;
    }
}


/* ============================================================================

    4. Animations

============================================================================ */

@include keyframes(bounce) {
    from { @include transform(scale(0.9,0.9)); }
    to { @include transform(scale(1,1)); }
}