---
title: Rugby! Colour conversion for designers and developers.
---

<section class='theHeader'>
    <img class="rugbyIcon" src="img/rugby_icon.png">
    <h1>Rugby</h1>
    <h2>RGB syntax conversion</h2>
</section>

<section class='theInputs'>
    <div class='inputBlock'>
        <label for='swatchName'>Colour name:</label>
        <input type='text' name='swatchName' class='swatchName' placeholder='f/ex: Poop'>
        <label for='swatchInput'>RGB value:</label>
        <input type='text' name='swatchInput' class='swatchInput' placeholder='f/ex: 255 0 130'>
    </div>
</section>

<section class='theControls'>
    <button type='button' class='moar'><i class="fa fa-plus"></i> One more</button>
    <button type='button' class='convert'><i class="fa fa-check"></i> Convert!</button>
</section>

<section class='outputBlock hidden'>
    <label for='swatchOutput'>Yr lovely colours, Objective-C-ified:</label>
    <textarea name='swatchOutput' class='swatchOutput'></textarea>
</section>

<section class='theFooter'>
    <p>Designed and developed by <a href='http://www.colepeters.com'>Cole Peters</a>. Find out more on <a href='http://www.github.com/colepeters/rugby/'>Github</a>.</p>
</section>