---
title: Rugby! Colour conversion for designers and developers.
---

<form>

    <label for='swatchInput'>Input:</label>
    <input type='text' name='swatchInput' class='swatchInput'>

    <label for='swatchOutput'>Output:</label>
    <input type='text' name='swatchOutput' class='swatchOutput'>

    <input type='button' class='convert' value='Convert!'>
</form>