---
title: Rugby! Colour conversion for designers and developers.
---

<form>

    <div class='theInputs'>
        <div class='inputBlock'>
            <label for='swatchName'>Swatch name:</label>
            <input type='text' name='swatchName' class='swatchName'>
            <label for='swatchInput'>RGB:</label>
            <input type='text' name='swatchInput' class='swatchInput'>
        </div>
    </div>

    <input type='button' class='moar' value='+ one more'>

    <div class='outputBlock'>
        <label for='swatchOutput'>Output:</label>
        <textarea name='swatchOutput' class='swatchOutput'></textarea>
    </div>

    <input type='button' class='convert' value='Convert!'>
</form>