---
title: Rugby! Colour conversion for designers and developers.
---

<section class='theHeader'>
    <h1>Rugby</h1>
    <img class="rugbyIcon" src="img/rugby_icon.png">
    <h2>RGB syntax conversion</h2>
</section>

<form>

    <div class='theInputs'>
        <div class='inputBlock'>
            <label for='swatchName'>Colour name:</label>
            <input type='text' name='swatchName' class='swatchName' placeholder='ex. Poop'>
            <label for='swatchInput'>RGB:</label>
            <input type='text' name='swatchInput' class='swatchInput' placeholder='ex. 255 0 130'>
        </div>
    </div>

    <input type='button' class='moar' value='+ one more'>

    <div class='outputBlock'>
        <label for='swatchOutput'>Output:</label>
        <textarea name='swatchOutput' class='swatchOutput'></textarea>
    </div>

    <input type='button' class='convert' value='Convert!'>
</form>