---
title: HTML5 Boilerplate Middleman
---

<form>

    <label for='input'>Input:</label>
    <input type='text' name='input' class='input'>

    <label for='output'>Output:</label>
    <input type='text' name='output' class='output'>

    <input type='button' class='convert' value='convert it'>
</form>