---
title: Rugby! Colour conversion for designers and developers.
---

<form>

    <label for='swatchInput'>Input:</label>
    <input type='text' name='swatchInput' class='swatchInput'>

    <div class='outputBlock'>
        <label for='swatchOutput'>Output:</label>
        <textarea name='swatchOutput' class='swatchOutput'></textarea>
    </div>

    <input type='button' class='convert' value='Convert!'>
</form>